<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="rmApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <rmApplication.Properties.Settings>
            <setting name="CommMode" serializeAs="String">
                <value />
            </setting>
            <setting name="RmRange" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PassNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PathViewFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialPortName" serializeAs="String">
                <value />
            </setting>
        </rmApplication.Properties.Settings>
    </userSettings>
</configuration>
